.background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
    height: 932px;
}
.middle-box {
    position: absolute;
    top: 152px;
    left: 46px;
    border-radius: var(--br-xl);
    width: 337px;
    height: 319px;
}
.login {
    position: absolute;
    top: 79px;
    left: 172px;
    font-size: 28px;
    font-weight: 500;
}
.username-box {
    position: absolute;
    top: 194px;
    left: 65px;
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(4px);
    width: 282px;
    height: 41px;
}
.password-box {
    position: absolute;
    top: 259px;
    left: 65px;
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(4px);
    width: 282px;
    height: 41px;
}
.username {
    position: absolute;
    top: 203px;
    left: 85px;
}
.password {
    position: absolute;
    top: 268px;
    left: 60px;
    display: inline-block;
    width: 163px;
    height: 33px;
}
.forgot-password {
    position: absolute;
    top: 403px;
    left: 123px;
}
.sign-in-box {
    position: absolute;
    top: 330px;
    left: 142px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(4px);
    width: 142px;
    height: 36px;
}
.sign-in {
    position: absolute;
    top: 334px;
    left: 178px;
    color: #ffa600;
}
.or-continue-with {
    position: absolute;
    top: 520px;
    left: 118px;
}
.google-icon-box {
    position: absolute;
    top: 568px;
    left: 15px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(5px);
    width: 193px;
    height: 40px;
}
.apple-icon-box {
    position: absolute;
    top: 568px;
    left: 228px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(5px);
    width: 193px;
    height: 40px;
}
.fb-icon-box {
    position: absolute;
    top: 638px;
    left: 15px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(5px);
    width: 193px;
    height: 40px;
}
.x-icon-box {
    position: absolute;
    top: 638px;
    left: 228px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray);
    backdrop-filter: blur(5px);
    width: 193px;
    height: 40px;
}
.sign-up {
    color: #f9a200;
}
.sign-up-option {
    position: absolute;
    top: 725px;
    left: calc(50% - 139px);
    font-size: 16px;
}
.arrow {
    position: absolute;
    height: 0.86%;
    width: 2.79%;
    top: 78.54%;
    right: 14.88%;
    bottom: 20.6%;
    left: 75.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.apple-icon {
    position: absolute;
    height: 2.68%;
    width: 6.05%;
    top: 61.7%;
    right: 21.4%;
    bottom: 35.62%;
    left: 72.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.google-icon {
    position: absolute;
    top: 576px;
    left: 99px;
    width: 25px;
    height: 24px;
}
.facebook-icon {
    position: absolute;
    top: 645px;
    left: 98px;
    width: 26px;
    height: 26px;
    overflow: hidden;
}
.x-icon {
    position: absolute;
    top: 647px;
    left: 316px;
    border-radius: 400px;
    width: 22px;
    height: 22px;
}
.sign-in-screen-frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 430px;
    height: 932px;
}
.original-sign-in-screen-frame {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-montagu-slab);
}

