body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montagu-slab: "Montagu Slab";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xs: 8px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --fill-icon: #222;
  --color-darkslategray: rgba(60, 60, 60, 0.5);
  --color-black: #000;
  --color-firebrick-100: #c02631;
  --color-orange: #ffa600;

  /* Border radiuses */
  --br-xl: 20px;
  --br-8xs: 5px;
}