body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montagu-slab: "Montagu Slab";
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray: rgba(60, 60, 60, 0.5);
    --color-orange: #ffa600;
  
    /* Border radiuses */
    --br-xl: 20px;
  }