body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montagu-slab: "Montagu Slab";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-black: #000;
  --color-orange: #ffa600;
}